#root {
  width: 98vw;
  height: 85vh;
  overflow:visible;
}

.general {
  display:block;
  background-color: none;
  width: 95%;
  height: auto;
  min-height:40px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom:20px;
  border: 2px solid darkslategray;
}

.education {
  display:block;
  background-color: none;
  max-width: 40vw;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid darkslategray;
}

.experience {
  display:block;
  background-color: none;
  max-width: 40vw;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid darkslategray;
}

.btn {
  display:block;
  width: auto;
  height: 30px;
  border-radius:3px;
  border: 2px solid black;
  background-color:sandybrown;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size:15px;
  font-family:'Times New Roman', Times, serif;
}

.btn:hover {
  cursor:pointer;
  background-color:rgb(226, 178, 137);
}

.input {
  display:block;
  width: 95%;
  height: 30px;
  padding: 0;
  margin: 0 auto;
  margin-top:10px;
  padding-left:5px;
  border: 2px solid grey;
  border-radius:4px;
  font-size:20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#first-name {
  user-select: none;
}

.page-container {
  display:flex;
  width: 95vw;
  height: auto;
  max-height:92vh;
  margin: 0 auto;
  margin-top:50px;
  overflow:hidden;
}

.work-container {
  display:block;
  border: 2px solid darkslategray;
  width: 40vw;
  height:85vh;
  min-height:50vh;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom:40px;
  overflow:scroll;
}

.build-container {
  display:block;
  border: 2px solid darkslategray;
  width: 40vw;
  height:85vh;
  min-height:50vh;
  margin: 20px auto;
  margin-top: 25px;
  margin-bottom:25px;
  margin-right:50px;
  overflow:scroll;
}

.header {
  display:block;
  background-color:darkslategray;
  color:rgb(206, 203, 173);
  width: 100%;
  text-align:center;
  height: 40px;
  line-height:40px;
  font-size:20px;
}
#top-header {
  position: absolute;
  top:0px;
  left:0px;
  height:60px;
}

.title {
  text-align:center;
}

.name {
  color:blue;
}
